{% extends './base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <section class="block">
        <h1>{{ board.title }}</h1>
        <h3>Категория: {{ board.category }}</h3>
        <h5>Дата публикации: {{ board.posted.date }}</h5>
        <img src="{{ board.image }}" alt="">
        <h3>{{ board.price }}</h3>
        <h5>Договорная цена: {{ board.is_related_price|yesno:"Да,Нет" }}</h5>
        <p>{{ board.description }}</p>
        <h3>{{ board.author_name }}</h3>
        <h4>{{ board.author_number }}</h4>
    </section>
{% endblock %}